# Project place file
/actually-good-td.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/Packages
/sourcemap.json
Packages/Fusion.lua
Packages/Matter.lua
Packages/ParallelWorker.lua
Packages/PartCache.lua
Packages/Spring.lua
sourcemap.json
